:root {
    --colwidth: 180px;
    --cardheight: 100px;
    --fontfamily: sans-serif;
    --colorGrayText: #828282;
    font-family: 'HelveticaNeueCyr';
    font-size: 16px;
    line-height: 124%;
}

* {
 margin:0px;
 padding:0px;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'HelveticaNeueCyr';
        src: url('fonts/HelveticaNeueCyr-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        }
    

.d-none {
    display:none !important;
}

.bg-stdLightYellow {background-color: rgb(255,241,202);}
.bg-stdBrightYellow {background-color: rgb(254,231,153);}
.bg-stdDarkYellow {background-color: rgb(254,217,102);}
.bg-stdLightRed {background-color: rgb(249,203,170);}
.bg-stdDarkRed {background-color: rgb(244,177,132);}
.bg-stdLightPink {background-color: rgb(247,240,232);}
.bg-stdBrightPink {background-color: rgb(252,230,216);}
.bg-stdDarkPink {background-color: rgb(236,207,191);}
.bg-stdBrightOrange {background-color: rgb(237,157,96);}
.bg-stdLightGreen {background-color: rgb(226,240,217);}
.bg-stdBrightGreen {background-color: rgb(197,224,181);}
.bg-stdLightGray {background-color: rgb(213,220,230);}
.bg-lightCyan {background-color:lightcyan;}
.bg-lightRed {background-color:lightcoral;}
.bg-lightGreen {background-color: lightgreen;}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 100px;
}

.header-main {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;    
}
.header-main__logo {
}
.header-main__h1 {
    font-size: 20px;
    font-weight: normal;
    line-height: 114%;
}
.filters {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 40px 0;
}
.filter__group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filter__group label{
    width: 130px;
    text-align: end;
}

.filters__select {
    margin-left:10px;
    height: 40px;
    padding: 10px;
}
.plan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.section-list {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;
border-bottom: 1px solid var(--colorGrayText);
}
.section-list__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--colorGrayText);

    width: 300px;
    height: 41px;
}
.section-list__item_active {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.section-list__item:hover {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.legend {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

}
.legend__item {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;


}
.legend__item::before {
    content: '';
    width: 40px;
    height: 20px;
    background: #EBF3F9;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
.section-header {
    font-size: 20px;
    font-weight: normal;
}
.section-header__left {
}
.section-header__right {
}
.swiper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
.swiper-card {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;

width: 260px;
height: 120px;

background: #EFF9EB;
border-radius: 4px;

}
.swiper-card__header {
    font-weight: bold;
    font-size: 16px;
    margin: 20px 20px 0px 20px;
}
.swiper-card__content {
    font-size: 12px;
    line-height: 12px;
    margin: 0px 20px 0px 20px;
    
}