:root {
    --colwidth: 180px;
    --cardheight: 100px;
    --fontfamily: sans-serif;
}


* {
 margin:0px;
 padding:0px;
}

.container {
    /* width:90%; */
    margin: 20px;
}

.row{
    display:flex;
}

.cell-md {
    /* width: var(--colwidth); */
    display: grid;
    grid-gap: 5px;
    align-content: start;
}

.cell-double{
    grid-column: auto / span 2;
    grid-template-columns: repeat(auto-fit, var(--colwidth));
}

.grid{
    
    display: grid;
    grid-template-columns: minmax(auto,30px) minmax(auto,30px) 1fr;
    grid-gap: 10px;
}

/*
.header-md{
    height: 50px;
    position: fixed;
    z-index: 20;
    margin-top: -50px;
    background-color:aquamarine;
} */

.header-md .cell-md {
    text-align: center;
}

.header-md .cell-md p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: var(--fontfamily);
}

.tiles-grid{
    display:grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fill, var(--colwidth));
    grid-gap:5px;
    background-color:rgb(245,245,245);
}

.tile-medium {
    height: var(--cardheight);
    /* width: calc(var(--colwidth)); */
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}

.tile-large {
    height: calc(var(--cardheight)*2);
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}

.subject-text {
    display: table;
}

.subject-text p{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: var(--fontfamily);
}

.year-col {
    grid-row: auto / span 2;
    background-color: slategrey;
}

.term-col {
    background-color:lightslategray;
}

.bg-lightCyan {background-color: rgb(213,220,230);}
.bg-lightRed {background-color: rgb(249,203,170);}
.bg-lightGreen {background-color: rgb(197,224,181);}

.term-col  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 5px; */
    /* margin-top: 5px; */
    /* margin-right: 5px; */
    width: 35px;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
}

.term-col p{
    text-align: center;
    transform: rotate(-90deg);
    min-width: 80px;
    position: absolute;
    margin-right:3px;
    font-family: var(--fontfamily);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
/* md */
/*
@media (min-width:768px) {

} */
.d-none{
    display:none;
}

.subject {
    margin: 2px;
}

/*
.row div{
    border-style:dotted;
    border-color: black;
    border-width: 1px;
} */