:root {
    --colwidth: 180px;
    --cardheight: 100px;
    --fontfamily: sans-serif;
}

* {
 margin:0px;
 padding:0px;
}

.d-none {
    display:none !important;
}

.bg-lightCyan {background-color: rgb(213,220,230);}
.bg-lightRed {background-color: rgb(249,203,170);}
.bg-lightGreen {background-color: rgb(197,224,181);}

.container {
    /* width:90%; */
    margin: 20px;
}

.grid{    
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(30px,auto);
    grid-gap: 10px;
}

.year-col {
    grid-row: auto / span 2;
    background-color: slategrey;
}

.term-col {
    background-color:lightslategray;
}

.term-col  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
}

.term-col p{
    text-align: center;
    min-width: 80px;
    position: absolute;
    margin-right:3px;
    font-family: var(--fontfamily);
}

.tiles-grid{
    display:grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fill, var(--colwidth));
    grid-gap:5px;
    background-color:rgb(245,245,245);
    justify-content: center;
}

/* sm device */
@media (max-width:576px) { 

    .d-none-sm {
        display:none !important;
    }
}
@media (min-width:576px) {



.grid{    
    grid-template-columns: minmax(auto,30px) minmax(auto,30px) 1fr;
}

.cell-md {
    /* width: var(--colwidth); */
    display: grid;
    grid-gap: 5px;
    align-content: start;
}

.cell-double{
    grid-column: auto / span 2;
    grid-template-columns: repeat(auto-fit, var(--colwidth));
}

/*
.header-md{
    height: 50px;
    position: fixed;
    z-index: 20;
    margin-top: -50px;
    background-color:aquamarine;
} */

.term-col  {
    width: 35px;
}

.term-col p{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.tiles-grid{
    justify-content: start;
}

} /* end small device block */



.tile-medium {
    height: var(--cardheight);
    /* width: calc(var(--colwidth)); */
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}

.tile-large {
    height: calc(var(--cardheight)*2);
    grid-column: auto, span 2;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}

.subject-text {
    display: table;
}

.subject-text p{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: var(--fontfamily);
}



.subject {
    margin: 2px;
}

